<!-- <p>
    La cantidad {{myShoppingCart.length}}
</p>
<p>
    Total: ${{total}}
</p>
<p>
    Today: {{today | date: 'short' }}
</p>
<p>
    Otra fecha: {{date | date: 'shortDate' }}
</p> -->
<button (click)="toggleProductDetail()">Click</button>
<div class="products--grid">
    <app-products 
    [product]="product" 
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)">
</app-products>
</div>
<div class="product-detail" [class.active]="showProductDetail">
    <div>
        <button (click)="toggleProductDetail()">Close</button>
        Contenido
    </div>
</div>